
body { font-size: 0.75em; font-family: Calibri; color: #777;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

section { padding: 40px;   position: relative; }


div.bg { position: absolute;}

.section:before { position: absolute; top: 0px; left: 29px; bottom: 29px; right: 29px; background:#f2f2f2 url("../../images/bookcenter.png") repeat-y 50% 50%;}

.top-left {top: 0; left: 0; width: 30px; height: 29px; background: url("../../images/bgbookcorners.png") no-repeat 0 0; }
.top-right {top: 0; right: 0; width: 30px; height: 29px; background: url("../../images/bgbookcorners.png") no-repeat 100% 0; }

.bottom-left {bottom: 0; left: 0; width: 32px; height: 29px; background: url("../../images/bgbookcorners.png") no-repeat bottom left; }
.bottom-right {bottom: 0; right: 0; width: 32px; height: 29px; background: url("../../images/bgbookcorners.png") no-repeat  bottom right; }


.left {
    position: absolute; top:29px; bottom:29px; left:0; width: 30px;
    background: url("../../images/bghorizontal.png") repeat-y 0 0;}

.right{
    position: absolute; top:29px; bottom:29px; right:0px; width: 30px;
    background: url("../../images/bghorizontal.png") repeat-y 100% 0;}

.bottom{
    position: absolute; left:29px; bottom:0; right:29px; height: 30px;
    background: url("../../images/bookbottom.png") repeat-x 0 100%;
}

details {
    padding: 10px;
    background: #fc362d;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 0 #97302c, 0 3px 0 #97302c, 0 5px 0 #97302c;
    margin-bottom: 10px;
}


#heroes     {

    text-align: left !important; padding: 10px 10px 10px 160px; position:relative;
    position: relative; margin-bottom: 30px;
}
/*
#heroes     {
    text-align: left !important; padding: 10px 10px 10px 160px; position:relative; margin:-30px 0 30px 0; text-align: center;  background:#777; min-height:120px;
    position: relative;

    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px; box-shadow: 0px 1px 3px rgba(0,0,0,0.6);


    background: #331401;
    background: -moz-linear-gradient(top, #331401 0%, #541d00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#331401), color-stop(100%,#541d00));
    background: -webkit-linear-gradient(top, #331401 0%,#541d00 100%);
    background: -o-linear-gradient(top, #331401 0%,#541d00 100%);
    background: -ms-linear-gradient(top, #331401 0%,#541d00 100%);
    background: linear-gradient(to bottom, #331401 0%,#541d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331401', endColorstr='#541d00',GradientType=0 );

}


#heroes:after {
    content: ""; position: absolute; left: -10px; top: 0; width: 0; height: 0;
    border-top: 10px solid transparent;
    border-bottom: 0px solid transparent;
    border-right:10px solid #333;
}

#heroes:before {
    content: ""; position: absolute; right: -10px; top: 0; width: 0; height: 0;

    border-top: 10px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 10px solid #333;


}
*/
#heroes li  {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
    vertical-align: middle; display: inline-block; position: relative; margin:0 5px 5px 5px; background-image: url("../../images/portraits.jpg"); background-repeat: no-repeat ; }



.barbarian-male        { background-position: 0 0         ; width: 60px; height: 60px; }
.demon-hunter-male     { background-position: 0 -60px     ; width: 60px; height: 60px; }
.monk-male             { background-position: 0 -120px    ; width: 60px; height: 60px; }
.witch-doctor-male     { background-position: 0 -180px    ; width: 60px; height: 60px; }
.wizard-male           { background-position: 0 -240px    ; width: 60px; height: 60px; }
.barbarian-female      { background-position: -60px 0     ; width: 60px; height: 60px; }
.demon-hunter-female   { background-position: -60px -60px ; width: 60px; height: 60px; }
.monk-female           { background-position: -60px -120px; width: 60px; height: 60px; }
.witch-doctor-female   { background-position: -60px -180px; width: 60px; height: 60px; }
.wizard-female         { background-position: -60px -240px; width: 60px; height: 60px; }


.lastPlayed-barbarian-male        { background-position: -120px 0     ; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-demon-hunter-male     { background-position: -120px -120px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-monk-male             { background-position: -120px -240px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-witch-doctor-male     { background-position: -120px -360px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-wizard-male           { background-position: -120px -480px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-barbarian-female      { background-position: -240px 0     ; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-demon-hunter-female   { background-position: -240px -120px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-monk-female           { background-position: -240px -240px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-witch-doctor-female   { background-position: -240px -360px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }
.lastPlayed-wizard-female         { background-position: -240px -480px; width: 120px; height: 120px; position: absolute !important; left: 10px; bottom: -20px; }

#gear       { text-align: center; width:360px; float: right; vertical-align: top; }
#gear li    { position: relative; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.6); border: 2px solid #fff; display: inline-block;
    width: 100px; min-height: 60px; background: #eee; margin:0 5px 5px 0; vertical-align: top; }
#gear li a  { display: block;  }
#gear li img  { max-width: 100%; max-height: 100%;  }
#gear:after, #stats:after { content: ""; display: table; clear: both; height: 0; font-size: 0; line-height: 0; }


#skills       { text-align: center; clear: both; }
#skills ul li { display: inline-block; padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#skills h4    { font-size: 14px; margin-bottom: 5px; }
#active img:last-child    { display: none; }

#active  li { width: 45%; }
#passive li { width: 30%; }


#stats    { min-width: 150px; float: left;  }
#stats li { display: none;  }
#stats .strength, #stats .dexterity, #stats .intelligence, #stats .vitality, #stats, .armor, #stats .damage { display: block;}

#stats li h3   { display: inline-block; width:70%; margin-right: 3%; }
#stats li span { display: inline-block; width:25%; text-align: right; }





form { text-align: center; padding: 10px;  border-radius: 10px; background: #f5f5f5; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); }

form input { display: block; margin: 5px 0; padding: 5px; border-radius: 5px; border: none; box-shadow:inset 0px 0px 3px rgba(0,0,0,0.5); }
form label { display: inline-block; }

form  input[type="button"] {
    display: block;
    width: 80px;
    margin: 5px auto;
}


h1, h2, h3 {  border-bottom:1px solid #ccc; padding-bottom:0.5em; margin-bottom:0.5em; text-align: left; font-smooth:always;  margin-bottom:1em;
    text-shadow: 0 2px 0 #fff, 0 -1px 0 rgba(0,0,0,0.5);  font-weight: 100;
}

h1 { color:#7B6D55; font-size: 24px; font-style: italic; }
h2 { color:#7B6D55; font-size: 18px; font-style: italic; }
h3 { color:#7B6D55; font-size: 16px;}