
body {
    font-size: 0.75em; font-family: Calibri; color: #777;



    background-color: #6d695c;
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;


}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    #container { margin-left: 140px; }

        .heroes, .gear, nav, form {

            position:relative; margin:0 20px; padding:20px;
            background:#f5f5f5; border:2px solid #fff;
            border-radius:5px; box-shadow:0px 1px 3px rgba(0,0,0,0.5);
        }

            .heroes { background:#ddd; text-align:left; padding:10px 20px; z-index: 10; }
            .gear   { margin:-20px 40px 20px 40px; }
            form    { margin:10px 40px -20px 40px; padding-bottom:30px;}
            nav     {
                width:165px; min-height:100px; background:#ddd;
                left:0; top:30px; position:fixed;
            }
                nav li {
                    display: block; padding: 5px 0;
                    box-shadow:0 1px 0 #aaa, 0 2px 0 #fff;
                }
                    nav li:last-child  { box-shadow:none; }

/*
===============================================================
*/

.heroes li  {

    width: 93px; height: 76px;
    border:5px solid #f3e6d0; margin:0 5px 0 0;
    display: inline-block; position: relative;
    background:#ffffa3 url("../../images/portraits1.jpg") no-repeat;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6); border-radius:3px;
}

.heroes li a { display:inline-block; width:100%; height:66px;}
.heroes li div, .gear .tip {
    display:none; position:absolute; z-index:999;
    top:-95%; right:-95%; padding:10px;
    background:#fff;
    border-radius:5px; box-shadow:0px 1px 2px rgba(0,0,0,0.6);
}

.heroes li:hover div { display: block; }

.heroes li.highlight:after {
    content:"▼";
    font-size:24px; color:#f3e6d0;
    text-shadow:0px 2px 3px rgba(0,0,0,0.8);
    position:absolute; z-index:90;
    width:30px; height:30px; margin-left:-15px;
    bottom:-26px; left:50%;
}
nav li.highlight {
    color:#f06d65;
}

.hardcore { border-color:#f06d65 !important;}
li.hardcore:after {color:#f06d65 !important;}


/*
===============================================================
*/

#showitem {
    display:none; position:fixed; z-index:999;
    width:325px; top:250px; left:350px;
    color:#fff; background:#000;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
}


#doll { text-align: center; vertical-align: top; margin-right: 20px; width: 205px; position: relative;  }

    #doll> li       {
        cursor: pointer !important;
        width:60px; height:120px; line-height:120px; margin:0 -10px -10px 0;
        vertical-align:middle;
        display: inline-block; position:relative;
        background:#fff url("../../images/item-bg.jpg") no-repeat -999px -999px;
        box-shadow:inset 0px 0px 15px 10px rgba(0,0,0,0.4), 0px 0px 3px 1px rgba(0,0,0,0.65); border-radius:5px;
        -webkit-transform: scale(0.8);
        -webkit-transition: all .2s ease-in-out;
    }
        #doll> li:hover { z-index:900; -webkit-transform: scale(1); }

            #doll li.yellow { background-position: 0  0;}
            #doll li.orange { background-position: -80px 0;}
            #doll li.brown  { background-position: -160px 0;}
            #doll li.green  { background-position: -240px 0;}
            #doll li.blue   { background-position: -320px 0;}
            #doll li.white  { background-position: -999px -999px;}


                #doll > li a    { display:block;}
                #doll > li img  { max-width:95%; max-height:95%; display:inline;}





.gear ul { display:inline-block;}

/*
===============================================================
*/
form    { text-align:center;}
form li { display:inline-block; padding:0 5px; max-width:120px; }

input, select {
    height:24px; line-height:20px;
    font-size:10px; margin-top:5px;
    background:#ffffa3; border:2px solid #fff; color:#999;
    box-shadow:0px 0px 3px rgba(0,0,0,0.5); border-radius:5px;

}
input, select, label {  font-style:italic; display:inline-block; width:80px; text-align:center;}
label        { font-weight:bold; font-size:12px; width:100%; }
option {border: 0; background: none;}

#go {
    width:120px; height:30px; line-height:25px; display:block;
    background:#bada55; padding:0 5px; margin:10px auto; text-align:center; color:#fff; border-radius:5px;
    box-shadow:0px 0px 3px rgba(0,0,0,0.5); border:2px solid #fff;
}


#overlay { position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,0.6); height:100%; z-index: 9999; display:none;}

    #overlay div {
        min-width:200px; min-height:100px;
        max-width:600px; max-height:300px;
        width:400px; height:200px;
        position:absolute; top:50%; left:50%; margin:-100px 0 0 -200px;
        background:#fff; padding:20px; border-radius:5px;
    }

        #overlay h3 { font-size:16px; margin-bottom:20px;}
        #overlay p  { font-size:12px; }

.error {color:#f06d65;}


